<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224128381554-8910vv3le0r8q26thf7rqprggg6tt81k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224128381554-8910vv3le0r8q26thf7rqprggg6tt81k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>224128381554-bufsf77ed7ch0aq1n0v1fe5fqjd35tfl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlx4uJj6htC8_72J2U9olOGMDRwLKImH8</string>
	<key>GCM_SENDER_ID</key>
	<string>224128381554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ufv.labd2m.ufveventos</string>
	<key>PROJECT_ID</key>
	<string>siseventos-1496000137667</string>
	<key>STORAGE_BUCKET</key>
	<string>siseventos-1496000137667.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224128381554:ios:e1aa6b4dab257560</string>
	<key>DATABASE_URL</key>
	<string>https://siseventos-1496000137667.firebaseio.com</string>
</dict>
</plist>